
//colors
$hotPinkred:hsl(332, 98%, 49%);
$hotbrightPink:hsl(320, 82%, 58%);
$muteWarmpink: hsl(345, 98%, 65%);
$dullRed: hsl(10, 60%, 59%);
$orange: hsl(24, 89%, 53%);
$paleNeonpink: rgb(241, 193, 221);
$brightSalmon: hsl(359, 87%, 78%);
$flatYellow: hsl(43, 100%, 50%);
$warmYellow: rgb(253, 204, 114);
$neonYellow: hsl(66, 91%, 64%);
$dullYellow: hsl(46, 62%, 58%);
$palePeachyellow: hsl(61, 100%, 85%);
$hotLimegreen: hsl(118, 95%, 49%);
$mintGreen: hsl(136, 89%, 69%);
$neonAquamarine: hsl(158, 100%, 62%);
$paleAquamarine: hsl(162, 85%, 60%);
$dullOlive: hsl(89, 32%, 74%);
$darkDullolive: hsl(89, 17%, 39%);
$brightBlue: hsl(192, 99%, 50%);
$darkBlue: hsl(239, 99%, 50%);
$brightPurple: hsl(298, 100%, 50%);
$darkPurple: hsl(281, 100%, 49%);
$lilac: hsl(257, 100%, 86%);
$dullBarbiepink: hsl(341, 50%, 69%);
$paleBarbiepink: hsl(327, 94%, 87%);

//color group1
$paleLightPeach: rgb(245, 188, 178);
$paleMidPeach: rgb(235, 161, 148);
$palePeach: hsl(9, 96%, 71%);
$darkPeach: hsl(360, 96%, 71%);
$dullStrawberry: hsl(347, 65%, 55%);
$strawberryPink: hsl(333, 53%, 51%);
$dullPurple: hsl(262, 32%, 41%);


//color group2
$paleBlue: #3E88D3;
$paleNeonblue: #398BB8;
$paleBluepurple: #8377D9;
$neonSalmon: #DA676D;
$paleBrightblue: #B1CCFF;
$dullOliveyellow: #A99B77;
$greenYellow: #97C86C;


//color group3
$blackish: #333330;
$reddish: #E15C65;
$orangish: #FFBC6B;
$yellowish: #F8F287;
$yellowishGreen: #D9F39D;
$blueishGreen: #B3F4C0;
$brightBlueish: #6EC9F7;
$blueish: #5E97DD;

//color group4
$pink: #FBA1BA;
$pinkYellow: rgb(253, 156, 121);
$peachPink: #FD9520;
$darkPeachpink: #FD6749;
$darkNeonPink: #FF1A9F;
$mediumNeonPink: rgb(255, 26, 255);

//color group5
$darkGray: #696969;
$boltBlue: #5858FC;

//color group 6
$black: #000000;
$darkFlamered: #FF0100;
$midHotpink: #EA00E9;
$deepHotpink: #B501B6;
$darkHotpink: #650166;

//color group 7
$lightLilac: #D7B8E6;
$brightLilac: #E5C5DD;
$lilacCreamyellow: #EDCACF;
$creamYellow: #F0D6C0;

//color group 8
$neonBlueishgreen: #51BC76;
$neonLightblueishgreen: #6FCC72;
$neonGreen: rgb(190, 236, 94);
$neonYellowgreen: #E9FA69;
$gray: #918C84;
$deepBlue: hsl(213, 69%, 5%);

//Font Sizes incase we need them
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;