
//colors
$hotPinkred:hsl(332, 98%, 49%);
$hotLimegreen: hsl(118, 95%, 49%);
$brightBlue: hsl(192, 99%, 50%);
$mintGreen: hsl(136, 89%, 69%);
$brightPurple: hsl(298, 100%, 50%);
$darkPurple: hsl(281, 100%, 49%);
$neonYellow: hsl(66, 91%, 64%);

//Font Sizes incase we need them
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;