
//colors
$hotPinkred:hsl(332, 98%, 49%);
$muteWarmpink: hsl(345, 98%, 65%);
$dullRed: hsl(10, 60%, 59%);
$flatYellow: hsl(43, 100%, 50%);
$neonYellow: hsl(66, 91%, 64%);
$dullYellow: hsl(46, 62%, 58%);
$hotLimegreen: hsl(118, 95%, 49%);
$mintGreen: hsl(136, 89%, 69%);
$dullOlive: hsl(89, 32%, 74%);
$darkDullolive: hsl(89, 17%, 39%);
$brightBlue: hsl(192, 99%, 50%);
$darkBlue: hsl(239, 99%, 50%);
$brightPurple: hsl(298, 100%, 50%);
$darkPurple: hsl(281, 100%, 49%);


//Font Sizes incase we need them
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;